<%= form_for(@content) do |f| %>
    <% if @content.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@content.errors.count, "error") %>Dieser Content kann nicht hochgeladen werden</h2>

          <ul>
            <% @content.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <%= f.label "Titel" %><br>
    <%= f.text_field :title, type: "text", align: "center" %>
    <br/>
    <br/>
    <div>
      <%= f.label :content %><br>
      <%= f.text_area :content, class: "form-control", rows: "10" %>
      <br/>

      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
<div>
    <p>
      <br>
      <%= link_to 'Übersicht', contents_path %>
    </p>
</div>
<% end %>