<script>
    $(document).ready(function () {
        var preview = $(".upload-preview img");
        $(".file").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                image_base64 = e.target.result;
                preview.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });
    });
</script>

<%= form_for(@content) do |f| %>
    <% if @content.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@content.errors.count, "error") %>Dieser Content kann nicht hochgeladen werden</h2>

          <ul>
            <% @content.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<div class="form-group" style="margin-left:2%;max-width:90%">
  <div class="field">
    <%= f.label "Titel" %><br>
    <%= f.text_field :title %>
    <br/>
  </div>
  <div class="field">
    <%- if @content.image_url.present? %>
        <%= image_tag(@content.image.url) %>
    <% end %><br>
  </div>
    <p>

    <div class="upload-preview">
      <img style="max-width:300px"/>
    </div>
    </p>
    <div class="field">
      <%= f.file_field(:image, class:"file") %>
      <%= f.hidden_field :image_cache %>
    </div>
    <br/>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :content, class: "form-control", rows: "10" %>
      <br/>

      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
    <p>
      <br>
      <%= link_to 'Übersicht', contents_path %>
    </p>
</div>
<% end %>
