<%= form_for(@content) do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %>Dieser Content kann nicht hochgeladen werden</h2>

      <ul>
      <% @content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label :title %><br>
    <%= f.text_area :title %>
  <div class=class="form-control type="text">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  <div class="actions">
    <%= f.submit %>
  </div>
    </div>
<% end %>
