<div class="col-md-6">
  <div id="member" class="widget-container" style="border: solid 1px; margin:5px 0 10px">
    <div class="panel panel-profile">
      <div class="panel-heading bg-danger clearfix">
        <img src="<%= asset_path('Gruppenfoto.png') %> " class="img-circle img80_80 pull-left profile" >
        <h3 class="ng-binding"><%= user.firstName %></h3>
        <p><%= user.lastName %></p>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <i class="ti-facebook" data-toggle="tooltip" title="Facebook"></i>
          <a href="<%= user.facebook %>">Link zu Facebook</a>
        </li>
        <li class="list-group-item">
          <i class="ti-user" data-toggle="tooltip" title="Aktuelle Rolle"></i>
            Aktuelle Rolle: <%= user.current_role %>
        </li>
        <li class="list-group-item">
          <i class="ti-wand" data-toggle="tooltip" title="Rolle ändern"></i>
          <ul class="list_group">
            <li class="list-group-item">
              <strong>Rolle ändern zu</strong>
            </li>
            <li class="list-group-item">
                <%= link_to "User", role_user_path(:id => user.id), class:"btn btn-w-md btn-gap-v btn-danger" %>
            </li>
            <li class="list-group-item">
              <%= link_to "Fachschaft", role_fachschaft_path(:id => user.id), class:"btn btn-w-md btn-gap-v btn-danger" %>
            </li>
            <li class="list-group-item">
              <%= link_to "Manager", role_manager_path(:id => user.id), class:"btn btn-w-md btn-gap-v btn-danger" %>
            </li>
            <li class="list-group-item">
              <%= link_to "Admin", role_admin_path(:id => user.id), class:"btn btn-w-md btn-gap-v btn-danger" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>