<script>
    $(document).ready(function() {
        $("#show").click(function () {
            $("#toggle").fadeToggle("slow");
        });
    });
    $(document).ready(function() {
        $("#show2").click(function () {
            $("#toggle2").fadeToggle("slow");
        });
    });
</script>
<style type="text/css">
  #link1 {
    color: blue;
  }
</style>
<!-- Tabs for the categories -->
<div id="shadow" style="max-width:100%"><br>
<ul class="nav nav-tabs" id="shadow" style="margin:auto;max-width:95%">
  <li class="active"><a data-toggle="tab" href="#news">News</a></li>
  <li><a data-toggle="tab" href="#erstis">Erstemester</a></li>
  <li><a data-toggle="tab" href="#klausuren">Klasusuren</a></li>
  <li><a data-toggle="tab" href="#sponsoring">Sponsoring</a></li>
  <li><a data-toggle="tab" href="#gremien">Gremienarbeit</a></li>
  <li><a data-toggle="tab" href="#veranstaltungen">Veranstaltungen</a></li>
  <li><a data-toggle="tab" href="#partys">Partys</a></li>
  <% if current_user.present? && (current_user.is_admin || current_user.is_manager || current_user.is_fs) %>
      <li><%= link_to "Content Erstellen", new_content_path %></li>
  <% end %>
</ul>


  <div class="tab-content">
    <div id="news" class="tab-pane fade in active">
      <div class="ui-timline-container" style="max-width:100%">
        <!-- Timeline for the newest content (all categories) -->
        <button class="btn btn-primary" id="show"><span class="glyphicon glyphicon-arrow-down"></span>Neueste</button><br><br>
        <section class="ui-timeline" id="toggle">
          <% @contents.where(ok_admin: true).order(created_at: :desc).limit(5).each do |content| %>

              <article class="<%= cycle('tl-item', 'tl-item alt') -%>">
                <%= render partial: "index_timeline", locals: {content: content} %>
              </article>

          <% end %>

        </section>
      </div>
    </div>

    <div id="news" class="tab-pane fade in active">
      <div class="ui-timline-container" style="max-width:100%">
        <!-- Timeline for the newest content (all categories) -->
        <button class="btn btn-primary" id="show2"><span class="glyphicon glyphicon-arrow-down"></span>Fast neu</button><br><br>
        <section class="ui-timeline"  id="toggle2">
            <% helper = @contents.where(ok_admin: true).count %>
          <% if helper >5 %>
          <% @contents.where(ok_admin: true).order(created_at: :desc).limit(10).last(-5+helper).each  do |content| %>
              <article class="<%= cycle('tl-item', 'tl-item alt') -%>" >
                <%= render partial: "index_timeline", locals: {content: content} %>
              </article>
                <% end%>
          <% end %>

        </section>
      </div>
    </div>












  <!-- Content for Erstsemester -->
  <%# @contents.order(created_at: :desc).each do |content| %>
  <%#if (content.team_id) == 1%>
  <div id="erstis" class="tab-pane fade">
    <% @contents.where(team_id: "1").order(created_at: :desc).each do |content| %>
        <%= render partial: "index", locals: {content: content} %>
    <% end %>
  </div>

  <!-- Content für Klausuren -->
  <div id="klausuren" class="tab-pane fade">
    <% @contents.where(team_id: "5").order(created_at: :desc).each do |content| %>
        <%= render partial: "index", locals: {content: content} %>
    <% end %>
  </div>


  <!-- Content for Sponsoring -->
  <div id="sponsoring" class="tab-pane fade">
    <% @contents.where(team_id: "3").order(created_at: :desc).each do |content| %>
        <%= render partial: "index", locals: {content: content} %>
    <% end %>
  </div>

  <!-- Content for Gremienarbeit -->
  <div id="gremien" class="tab-pane fade">
    <% @contents.where(team_id: "6").order(created_at: :desc).each do |content| %>
        <%= render partial: "index", locals: {content: content} %>
    <% end %>
  </div>

  <!-- Content for Veranstalstungen -->
  <div id="veranstaltungen" class="tab-pane fade">
    <% @contents.where(team_id: "4").order(created_at: :desc).each do |content| %>
        <%= render partial: "index", locals: {content: content} %>
    <% end %>
  </div>

  <!-- Content for Partys -->
  <div id="partys" class="tab-pane fade">
    <% @contents.where(team_id: "2").order(created_at: :desc).each do |content| %>
        <%= render partial: "index", locals: {content: content} %>
    <% end %>
  </div>

</div>
</div>