<%= stylesheet_link_tag 'timeline' %>
<style type="text/css">
    #link1 {color:blue;}
</style>

<!-- Tabs for the categories -->
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#news">News</a></li>
  <li><a data-toggle="tab" href="#erstis">Erstemester</a></li>
  <li><a data-toggle="tab" href="#klausuren">Klasusuren</a></li>
  <li><a data-toggle="tab" href="#sponsoring">Sponsoring</a></li>
  <li><a data-toggle="tab" href="#gremien">Gremienarbeit</a></li>
  <li><a data-toggle="tab" href="#veranstaltungen">Veranstaltungen</a></li>
  <li><a data-toggle="tab" href="#partys">Partys</a></li>
  <% if current_user.present? && current_user.is_admin %>
  <li><a data-toggle="tab" href="#content">Content Erstellen</a></li>
      <% end %>
</ul>


<div class="tab-content">
  <div id="news" class="tab-pane fade in active">
    <div class="container">
      <!-- Timeline for the newest content (all categories) -->
      <ul class="timeline">
        <% @contents.order(created_at: :desc).limit(5).each do |content| %>
            <!-- Left side of the timeline -->
            <% if (content.id%2) == 0 %>
              <li>
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-calendar"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title"><%= content.title %></h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Erstellt: <%= content.created_at.strftime("%d.%m.%Y") %> </small></p>
                </div>
                <div class="timeline-body">
                  <p><%= content.content %></p>
                <div class="timeline-footer">
                  <br>
                  <hr>
                  <p><% user = content.user_id %>
                    <%= link_to (@users.find(user).firstName + " " + @users.find(user).lastName), user_path(user) %>
                  </p>
                </div>
                </div>
              </div>
            </li>

            <% else %>
              <!-- Right side of the Timeline -->
                <li class="timeline-inverted">
                  <div class="timeline-badge primary"><i class="glyphicon glyphicon-book"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title"><%= content.title %></h4>
                      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Erstellt: <%= content.created_at.strftime("%d.%m.%Y") %></small></p>
                    </div>
                    <div class="timeline-body">
                      <p><%= content.content %>.</p>
                      <div class="timeline-footer">
                        <br>
                        <hr>
                        <p><% user = content.user_id %>
                          <%= link_to (@users.find(user).firstName + " " + @users.find(user).lastName), user_path(user) %>
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
            <% end %>
        <% end %>

      </ul>
    </div>
  </div>


<!-- Content for Erstsemester -->
  <% @contents.order(created_at: :desc).each do |content| %>
      <%if (content.team_id) == 1%>
    <div id="erstis" class="tab-pane fade">
      <br><br><br>
        <div class="panel panel-info">
          <div class="panel-heading">
            <%= content.title %>
          </div>
          <div class="panel-body">
            <%= content.content %>
          </div>
          <div class="panel-footer">
            <p>Erstellt am: </p>
            <%= content.created_at.strftime("%d.%m.%Y") %>
            <p> von </p>
            <%= link_to (@users.find(content.user_id).firstName + " " + @users.find(content.user_id).lastName), user_path(user) %>
          </div>
        </div>
    </div>
      <% end %>
  <% end %>

  <!-- Content für Klausuren -->
  <% @contents.order(created_at: :desc).each do |content| %>
      <%if (content.team_id) == 5 %>
  <div id="klausuren" class="tab-pane fade">
    <br><br><br>
    <div class="panel panel-info">
      <div class="panel-heading">
        <%= content.title %>
      </div>
      <div class="panel-body">
        <%= content.content %>
      </div>
      <div class="panel-footer">
        <p>Erstellt am: </p>
        <%= content.created_at.strftime("%d.%m.%Y") %>
        <p> von </p>
        <%= link_to (@users.find(content.user_id).firstName + " " + @users.find(content.user_id).lastName), user_path(user) %>
      </div>
    </div>
  </div>
      <% end %>
  <% end %>

  <!-- Content for Sponsoring -->
  <% @contents.order(created_at: :desc).each do |content| %>
      <%if (content.team_id) == 3 %>
    <div id="sponsoring" class="tab-pane fade">
      <br><br><br>
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= content.title %>
        </div>
        <div class="panel-body">
          <%= content.content %>
        </div>
        <div class="panel-footer">
          <p>Erstellt am: </p>
          <%= content.created_at.strftime("%d.%m.%Y") %>
          <p> von </p>
          <%= link_to (@users.find(content.user_id).firstName + " " + @users.find(content.user_id).lastName), user_path(user) %>
        </div>
      </div>
    </div>
      <% end %>
  <% end %>

<!-- Content for Gremienarbeit -->
  <% @contents.order(created_at: :desc).each do |content| %>
      <%if (content.team_id) == 6 %>
      <div id="gremien" class="tab-pane fade">
        <br><br><br>
        <div class="panel panel-info">
          <div class="panel-heading">
            <%= content.title %>
          </div>
          <div class="panel-body">
            <%= content.content %>
          </div>
          <div class="panel-footer">
            <p>Erstellt am: </p>
            <%= content.created_at.strftime("%d.%m.%Y") %>
            <p> von </p>
            <%= link_to (@users.find(content.user_id).firstName + " " + @users.find(content.user_id).lastName), user_path(user) %>
          </div>
        </div>
        </div>
      <% end %>
  <% end %>

  <!-- Content for Veranstalstungen -->
  <% @contents.order(created_at: :desc).each do |content| %>
      <%if (content.team_id) == 4 %>
        <div id="veranstaltungen" class="tab-pane fade">
          <br><br><br>
          <div class="panel panel-info">
            <div class="panel-heading">
              <%= content.title %>
            </div>
            <div class="panel-body">
              <%= content.content %>
            </div>
            <div class="panel-footer">
              <p>Erstellt am: </p>
              <%= content.created_at.strftime("%d.%m.%Y") %>
              <p> von </p>
              <%= link_to (@users.find(content.user_id).firstName + " " + @users.find(content.user_id).lastName), user_path(user) %>
            </div>
          </div>
          </div>
      <% end %>
  <% end %>

<!-- Content for Partys -->
  <% @contents.order(created_at: :desc).each do |content| %>
      <%if (content.team_id) == 2 %>
    <div id="partys" class="tab-pane fade">
      <br><br><br>
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= content.title %>
        </div>
        <div class="panel-body">
          <%= content.content %>
        </div>
        <div class="panel-footer">
          <p>Erstellt am: </p>
          <%= content.created_at.strftime("%d.%m.%Y") %>
          <p> von </p>
          <%= link_to (@users.find(content.user_id).firstName + " " + @users.find(content.user_id).lastName), user_path(user) %>
        </div>
      </div>
      </div>
  <% end %>
  <% end %>

  


</div>
