<%= stylesheet_link_tag 'timeline' %>
<style type="text/css">
    #link1 {color:blue;}
</style>

<!-- Tabs for the categories -->
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#news">News</a></li>
  <li><a data-toggle="tab" href="#erstis">Erstemester</a></li>
  <li><a data-toggle="tab" href="#klausuren">Klasusuren</a></li>
  <li><a data-toggle="tab" href="#sponsoring">Sponsoring</a></li>
  <li><a data-toggle="tab" href="#gremien">Gremienarbeit</a></li>
  <li><a data-toggle="tab" href="#veranstaltungen">Veranstaltungen</a></li>
  <li><a data-toggle="tab" href="#partys">Partys</a></li>
  <% if current_user.present? && current_user.is_admin %>
  <li><a data-toggle="tab" href="#content">Content Erstellen</a></li>
      <% end %>
</ul>


<div class="tab-content">
  <div id="news" class="tab-pane fade in active">
    <div class="container">
      <!-- Timeline for the newest content (all categories) -->
      <ul class="timeline">
        <% @contents.order(created_at: :desc).limit(5).each do |content| %>
            <!-- Left side of the timeline -->
            <% if (content.id%2) == 0 %>
              <li>
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-calendar"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title"><%= content.title %></h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Erstellt: <%= content.created_at.strftime("%d.%m.%Y") %> </small></p>
                </div>
                <div class="timeline-body">
                  <p><%= content.content %></p>
                <div class="timeline-footer">
                  <br>
                  <hr>
                  <p><% user = content.user_id %>
                    <%= link_to (@users.find(user).firstName + " " + @users.find(user).lastName), about_path %>
                  </p>
                </div>
                </div>
              </div>
            </li>

            <% else %>
              <!-- Right side of the Timeline -->
                <li class="timeline-inverted">
                  <div class="timeline-badge primary"><i class="glyphicon glyphicon-book"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title"><%= content.title %></h4>
                      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Erstellt: <%= content.created_at.strftime("%d.%m.%Y") %></small></p>
                    </div>
                    <div class="timeline-body">
                      <p><%= content.content %>.</p>
                      <div class="timeline-footer">
                        <br>
                        <hr>
                        <p><% user = content.user_id %>
                          <%= link_to (@users.find(user).firstName + " " + @users.find(user).lastName), about_path %>
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
            <% end %>
        <% end %>

      </ul>
    </div>
  </div>


<!-- Content for Erstsemester -->
  <% @contents.order(created_at: :desc).each do |content| %>
      <%if (content.team_id) == 1%>
    <div id="erstis" class="tab-pane fade">
      <br><br><br>
        <div class="panel panel-info">
          <div class="panel-heading">
            <%= content.title %>
          </div>
          <div class="panel-body">
            <%= content.content %>
          </div>
          <div class="panel-footer">
            <p>Erstellt am:
            <%= content.created_at.strftime("%d.%m.%Y") %>
            von
            <%= link_to (@users.find(content.user_id).firstName + " " + @users.find(content.user_id).lastName), about_path %>
            </p>
          </div>
        </div>
    </div>
      <% end %>
  <% end %>

  <!-- Content für Klausuren -->
  <% @contents.order(created_at: :desc).each do |content| %>
      <%if (content.team_id) == 5 %>
  <div id="klausuren" class="tab-pane fade">
    <br><br><br>
    <div class="panel panel-info">
      <div class="panel-heading">
        <%= content.title %>
      </div>
      <div class="panel-body">
        <%= content.content %>
      </div>
      <div class="panel-footer">
        <p>Erstellt am:
        <%= content.created_at.strftime("%d.%m.%Y") %>
         von
        <%= link_to (@users.find(content.user_id).firstName + " " + @users.find(content.user_id).lastName), about_path %>
        </p>
      </div>
    </div>
  </div>
      <% end %>
  <% end %>

  <!-- Content for Sponsoring -->
  <% @contents.order(created_at: :desc).each do |content| %>
      <%if (content.team_id) == 3 %>
    <div id="sponsoring" class="tab-pane fade">
      <br><br><br>
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= content.title %>
        </div>
        <div class="panel-body">
          <%= content.content %>
        </div>
        <div class="panel-footer">
          <p>Erstellt am:
          <%= content.created_at.strftime("%d.%m.%Y") %>
           von
          <%= link_to (@users.find(content.user_id).firstName + " " + @users.find(content.user_id).lastName), about_path %>
          </p>
        </div>
      </div>
    </div>
      <% end %>
  <% end %>

<!-- Content for Gremienarbeit -->
  <% @contents.order(created_at: :desc).each do |content| %>
      <%if (content.team_id) == 6 %>
      <div id="gremien" class="tab-pane fade">
        <br><br><br>
        <div class="panel panel-info">
          <div class="panel-heading">
            <%= content.title %>
          </div>
          <div class="panel-body">
            <%= content.content %>
          </div>
          <div class="panel-footer">
            <p>Erstellt am:
            <%= content.created_at.strftime("%d.%m.%Y") %>
             von
            <%= link_to (@users.find(content.user_id).firstName + " " + @users.find(content.user_id).lastName), about_path %>
            </p>
          </div>
        </div>
        </div>
      <% end %>
  <% end %>

  <!-- Content for Veranstalstungen -->
  <% @contents.order(created_at: :desc).each do |content| %>
      <%if (content.team_id) == 4 %>
        <div id="veranstaltungen" class="tab-pane fade">
          <br><br><br>
          <div class="panel panel-info">
            <div class="panel-heading">
              <%= content.title %>
            </div>
            <div class="panel-body">
              <%= content.content %>
            </div>
            <div class="panel-footer">
              <p>Erstellt am:
              <%= content.created_at.strftime("%d.%m.%Y") %>
              von
              <%= link_to (@users.find(content.user_id).firstName + " " + @users.find(content.user_id).lastName), about_path %>
              </p>
            </div>
          </div>
          </div>
      <% end %>
  <% end %>

<!-- Content for Partys -->
  <% @contents.order(created_at: :desc).each do |content| %>
      <%if (content.team_id) == 2 %>
    <div id="partys" class="tab-pane fade">
      <br><br><br>
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= content.title %>
        </div>
        <div class="panel-body">
          <%= content.content %>
        </div>
        <div class="panel-footer">
          <p>Erstellt am:
          <%= content.created_at.strftime("%d.%m.%Y") %>
          von
          <%= link_to (@users.find(content.user_id).firstName + " " + @users.find(content.user_id).lastName), about_path %>
          </p>
        </div>
      </div>
      </div>
  <% end %>
  <% end %>

  <div id="content" class="tab-pane fade">

    <div class="panel-body">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <form class="ng-pristine ng-valid" role="form">

            <div class="form-group">


              <label for="" class="col-sm-2">Titel</label>
              <div class="col-sm-10">
                <input aria-invalid="true" aria-required="true" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" required="" data-ng-model="form.required" type="text">
              </div>
            </div>
            <br><br>

            <div class="panel-body">
              <div aria-invalid="false" text-angular="" ng-model="mailContent" class="ui-editor ng-pristine ng-untouched ng-valid ng-isolate-scope ta-root">
                <div class="ng-scope ng-isolate-scope ta-toolbar btn-toolbar" text-angular-toolbar="" name="textAngularToolbar2690117130780300">
                  <div class="btn-group">
                    <button disabled="disabled" aria-disabled="true" unselectable="on" title="Heading 1" ng-class="displayActiveToolClass(active)" ng-click="executeAction()" tabindex="-1" ng-disabled="isDisabled()" ta-button="ta-button" name="h1" class="btn btn-default ng-scope" type="button">H1</button>
                    <button disabled="disabled" aria-disabled="true" unselectable="on" title="Heading 2" ng-class="displayActiveToolClass(active)" ng-click="executeAction()" tabindex="-1" ng-disabled="isDisabled()" ta-button="ta-button" name="h2" class="btn btn-default ng-scope" type="button">H2</button>

                  </div>
                </div>
                <div aria-hidden="false" ng-hide="showHtml" class="ta-scroll-window ng-scope ta-text ta-editor form-control">
                  <div class="popover fade bottom" style="max-width: none; width: 305px;">
                    <!--div class="arrow">
                    </div-->
                  <div class="popover-content"></div>
                  </div>

                  <div aria-invalid="false" class="ng-pristine ng-untouched ng-valid ta-bind" ng-model="html" ta-bind="ta-bind" id="taTextElement2690117130780300" contenteditable="true"><p><br></p></div>
                </div>
                <textarea aria-invalid="false" aria-hidden="true" aria-multiline="true" class="ng-pristine ng-untouched ng-valid ng-scope ta-bind ta-html ta-editor form-control ng-hide" ng-model="html" ta-bind="ta-bind" ng-show="showHtml" id="taHtmlElement2690117130780300">
                </textarea>
                <input value="" name="textAngularEditor2690117130780300" tabindex="-1" style="display: none;" type="hidden">
              </div>
              </div>
            <button type="submit" class="btn btn-primary btn-w-md">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>


</div>
