<style type="text/css">
    #link8 {color:blue;}
</style>
  <div style="text-align:center">
    <h1>O-Woche verpasst und trotzdem gut ins Studium starten?</h1>
    <h1>Kein Problem.</h1>
    <br>
    <p>Auch wenn Du die O-Woche für deinen Studiengang verpasst hast, kannst Du mit ein wenig Eigeninitiative trotzdem erfolgreich ins Studium starten.
      Im Folgenden findest Du unsere spezielle Checkliste für Nachzügler.
      Bei allgemeinen Fragen kannst Du dich gerne an unsere studentische Beratung für Nachzügler wenden.</p>
    <br>
    <p><strong>Dein Ansprechpartner aus der Fachschaft Wirtschaft:</strong></p>
    <p>
    <div style="max-width:400px; margin:auto">
      <div id="member" class="widget-container">
        <div class="panel panel-profile">
          <div class="panel-heading bg-danger clearfix">
            <% if @user.avatar?  %>
                <%=image_tag @user.avatar.url(:mid) , class: "img-circle", style: "float:left" %>
            <% else %>
                <%=image_tag 'default.jpg' , class: "img-circle", style: "float:left"  %>
            <% end %>
            <div style="position:relative; left:-25px">
                <h3 class="ng-binding"><%= @user.firstName %></h3>
                <p><%= @user.lastName %></p>
            </div>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="ti-email" data-toggle="tooltip" title="E-Mail Adresse"></i>
                 <% if current_user.present? %>
                  <a href="mailto:info@fh-fachschaft.de?subject=Nachzüglerbetreuung">E-Mail Nachzüglerbetreuung</a>
            </li>
                <% else %>
                    <%= link_to "Einloggen um Adresse zu sehen", sign_in_path, class:"btn btn-info" %>
                 <% end %>
            <li class="list-group-item">
              <i class="ti-facebook" data-toggle="tooltip" title="Facebook"></i>
              <a href="<%= @user.facebook %>">Facebook</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </p>
    <p><strong>Termine</strong>
      <br>
        (Studienverlaufsplan, Stundenplanerstellung, Prüfungsanmeldung, Rundgang FHZ und Co.)
      <br>
      <br>
        <h4><strong><%= @appointments.find(1).content.html_safe %> </strong>
      <br>
      <br>
          <strong><%= @appointments.find(2).content.html_safe %> </strong></h4>
        Bitte melde Dich für einen Termin per Email an.
      <br>
    </p>
    <div class="panel panel-default" style="max-width:450px; margin:auto">
      <div class="panel-heading">Die FH hat ebenfalls eine Seite mit zusätzlichen Infos.</div>
      <div class="panel-body">
        <i class="ti-link" data-toggle="tooltip" title="Link" style="float:left"></i>
        <a href="https://www.fh-muenster.de/wirtschaft/studienstarter/studienstarter.php"><strong>Studienstarter</strong></a>
      </div>
    </div>
<br><br>

  <blockquote class="blockquote-colored">
    <medium><strong>Wichtig zum Einstieg</strong></medium>
    <p>Mach Dich mit den grundlegenden Hinweisen für Studienstarter auf dieser Webseite vertraut.
      Zusätzlich ist der Erstiguide der Fachschaft Wirtschaft ein praktischer Begleiter,
      der viele Fragen rund um das Studium beantwortet.</p>
  </blockquote>
    <br>
  <blockquote class="blockquote-colored">
    <medium><strong>Vorlesungsplan</strong></medium>
    <p>Erstelle Deinen Vorlesungsplan, damit Du weißt, wann und wo du welche Vorlesungen, Übungen und Tutorien besuchen musst.
      Eine Anleitung für die Stundenplanerstellung findest du auf der Seite für Studienstarter des Fachbereichs.</p>
  </blockquote>
    <br>
  <blockquote class="blockquote-colored">
    <medium><strong>Vorlesungsmaterialien</strong></medium>
    <p>Professoren und Dozenten stellen für Ihre Vorlesungen Skripte, Übungsaufgaben und andere Dokumente zur Verfügung.
      Diese solltest Du mit in die Vorlesung bringen, um besser folgen zu können (ausgedruckt oder über Laptop/Tablet).
      Die Materialien findest Du entweder im LSF oder im ILIAS unter der entsprechenden Veranstaltung.</p>
  </blockquote>
    <br>
  <blockquote class="blockquote-colored">
    <medium><strong>Ausweise und Tickets</strong></medium>
    <p>An der Fachhochschule und in Münster benötigst Du einige Ausweise und Tickets, um z.B. Bücher auszuleihen, in Mensen zu essen oder
      Dich als Student auszuweisen.
      In der Bibliothek kannst Du einen Ausweis beantragen, um
      Bücher für die Klausurvorbereitung auszuleihen. In der Mensa musst Du mit
      einer Mensakarte bezahlen, um den Studentenpreis zu erhalten. Das
      Semesterticket für den Nahverkehr wird Dir zugeschickt und Deine Studienbescheinigung
      erhälst Du bereits nach Deiner Einschreibung per E-Mail.</p>
  </blockquote>
    <br>
  <blockquote class="blockquote-colored">
    <medium><strong>Tutorienanmeldung</strong></medium>
    <p>Ab der ersten oder zweiten Vorlesungswoche musst Du Dich im LSF für Tutorien anmelden.</p>
  </blockquote>
    <br>
  <blockquote class="blockquote-colored">
    <medium><strong>Prüfungsanmeldung</strong></medium>
    <p>Nach Vorlesungsstart hast Du fünf Wochen Zeit Dich im LSF für die Prüfungen am Ende des ersten Semesters anzumelden.
      Abmelden kannst Du dich bis eine Woche vor dem Prüfungstermin.</p>
  </blockquote>
    <br>
  <blockquote class="blockquote-colored">
    <medium><strong>Altklausuren-Verkauf</strong></medium>
    <p>Die Fachschaft Wirtschaft verkauft während der Mittagspause im Fachschaftsbüro A417 Altklausuren, mit denen Du Dich auf deine Klausuren vorbereiten kannst.
      Es ist sinnvoll, sich die Klausuren nicht erst am Ende des Semesters zu kaufen, da sie dann teilweise ausverkauft sind.</p>
  </blockquote>

</div>

