<style type="text/css">
    #link3 {color:blue;}
</style>
<% if !flash[:notice].blank? %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<div class="callout callout-info">

  <p>
    Erfahrungsberichte über Auslandssemester von Studenten der FH Münster. Wir freuen uns über jeden neuen Erfahrungsbericht, den wir hier vorstellen dürfen.
  </p>
</div>

<br />
<% if current_user.present? && current_user.is_admin %>
<%= link_to " Upload", new_resume_path, class: "fa fa-upload fa-2x", style: "color:#20549f" %>
<% end %>
    <br />

<br />
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th></th>
    <th style="text-align: center">Name</th>
    <th style="text-align: center">Download</th>
    <% if current_user.present? && current_user.is_admin%>
    <th style="text-align: center">Löschen</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @resumes.each do |resume1| %>
      <tr>
        <td><i class="fa fa-file-pdf-o fa-2x"></i></td>
        <td><%= resume1.name %></td>
        <td><%= link_to "",  resume1.attachment_url,  class: "fa fa-download fa-2x faa-float animated-hover", style: "color:#20549f" %></td>
        <% if current_user.present? && current_user.is_admin %>
       <td><%= link_to "",  resume1, method: :delete, confirm: "Are you sure that you wish to delete #{resume1.name}?",  class: "fa fa-times fa-2x", style:"color:red"  %>
          </td>   <% end %>
      </tr>
  <% end %>
  </tbody>
</table>