<!DOCTYPE html>
<html>
<head>
  <title>Fachschaft</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= yield %>

  #<% if current_user.present? %>
    #  <li> Welcome, <%=current_user.email%> </li>
       # <%else%>
         <li><%=link_to 'Sign up', sign_up_path%> </li>
      <li><a href="users/sign_in">Login</a></li>

    #<%end%>


</div>
</body>
</html>
